@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
     font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-image: url('./assets/coolbackgrounds-topography-micron.svg');
    background-size: cover;
  width: 100%;
}

img {
    width: 300px;
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

footer {
    text-align: center; 
    color: #666;
    font-family: Arial, sans-serif;
    margin-top: 2rem;
}

.lista-hobby {
    padding-left: 20px;
    list-style-image: url('./assets/logo-octocat.svg');
}

.lista-hobby li {
        margin-bottom: 10px;
    }

.work-experience th, .work-experience td {
    border: 1px solid #000000;
    padding: 8px;
    table-layout: fixed;
}

.contact-info {
    list-style-type: circle;
    padding-left: 20px;
}